# env / build
.venv/
__pycache__/
*.pyc

# binaries and objects
*.o
nbody
nbody_omp
nbody_mpi
nbody_mpi_omp
nbody_mpi_shared

# results
results/
# Slurm output
slurm-*.out

# editor backups
*.save
*~

# accidental files
0
